@font-face {
    font-family: "fonte";
    src: url(./fonts/AbhayaLibre-Medium.ttf) format("truetype"),
        url(./fonts/AbhayaLibre-Regular.ttf) format("truetype"),
        url(./fonts/AbhayaLibre-SemiBold.ttf) format("truetype");
}

:root {
    --cor-roxo: 102, 36, 131;
    --cor-preto: 28, 28, 27;
    --cor-rosa: 231, 29, 115;
    --cor-branco: 254, 254, 254;
}