.process-details {
  display: flex;
  position: absolute;

  width: 100vw;
  height: calc(100vh - 40px);
  background-color: rgba(var(--cor-preto), 0.8);

  z-index: 1;
}

.process-details .container-process {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.process-details .container-process .chart-process {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  height: 80%;
  min-height: 650px;
  width: 40%;
  min-width: 600px;

  padding: 40px;
  border-radius: 10px;

  background-color: rgba(var(--cor-branco), 0.94);
}

.process-details-dark .container-process .chart-process {
  background-color: rgba(var(--cor-preto), 0.94);
  border: 1px solid rgba(var(--cor-rosa), .3);
}

.process-details .container-process .chart-process img {
  position: absolute;
  width: 25px;
  top: 14px;
  right: 14px;
  cursor: pointer;
}

.process-details .container-process .chart-process h3 {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;
  width: 100%;
  border-radius: 5px;

  background-color: rgba(var(--cor-roxo), 0.6);
}

.process-details-dark .container-process .chart-process h3 {
  background-color: rgba(var(--cor-rosa), 0.6);
  color: rgba(var(--cor-branco), 0.9);
  font-weight: 300;
}

.process-details .container-process .chart-process ul {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 96%;
  border-radius: 5px;

  list-style: none;
  background-color: rgba(var(--cor-roxo), 0.2);
}

.process-details-dark .container-process .chart-process ul {
  background-color: rgba(var(--cor-rosa), 0.14);
}

.process-details .container-process .chart-process ul li {
  width: 80%;
  height: 20px;
  margin-top: 10px;

  font-weight: 600;
  font-family: "fonte";
}

.process-details-dark .container-process .chart-process ul li {
  color: rgba(var(--cor-branco), 1);
  font-weight: 300;
}

.process-details .container-process .chart-process ul p {
  display: flex;
  align-items: center;

  width: 80%;
  height: 24px;

  padding-left: 10px;
  border-radius: 5px;

  background-color: rgba(var(--cor-branco), 0.8);
}

.process-details .container-process .chart-process ul p:last-of-type {
  align-items: normal;
}

.process-details .container-process .chart-process ul .infos {
  height: 90px;

  text-overflow: ellipsis;
  overflow-y: scroll;
}
