.office-page {
  display: flex;
  position: relative;
  width: 100vw;
  height: calc(100vh - 170px);
}

.office-page-dark {
  background-color: rgba(var(--cor-preto), 1);
}

.office-page .background {
  display: flex;
  justify-content: center;

  height: calc(100vh - 40px);
  width: 100%;

  object-fit: cover;
  object-position: center 25%;
}

.office-page .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;

  width: 100%;
  height: 100%;
  background-color: rgba(var(--cor-branco), 0.6);
}

.office-page-dark .container {
  background-color: rgba(var(--cor-preto), 0);
}

.office-page .container .tool-bar {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 70px;
  width: 100%;

  margin-top: 130px;
}

.office-page .container .tool-bar .content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 76%;
  height: 80%;
  padding: 0 20px;

  border: 1px solid rgba(var(--cor-preto), 0.9);
  border-radius: 10px;
}

.office-page-dark .container .tool-bar .content {
  border: 1px solid rgba(var(--cor-rosa), 0.9);
}

.office-page .container .tool-bar .content .button-cadastrar button {
  height: 34px;
  width: 240px;
  border: 1px solid rgba(var(--cor-preto), 0.9);
  border-radius: 10px;

  background-color: rgba(var(--cor-roxo), 0.5);
  cursor: pointer;
}

.office-page .container .tool-bar .content .button-cadastrar button:hover {
  background-color: rgba(var(--cor-roxo), 0.4);
}

.office-page-dark .container .tool-bar .content .button-cadastrar button:hover {
  background-color: rgba(var(--cor-rosa), 0.4);
}

.office-page-dark .container .tool-bar .content .button-cadastrar button {
  color: rgba(var(--cor-branco), .8);
  border: 1px solid rgba(var(--cor-rosa), 0.9);
  background-color: rgba(var(--cor-rosa), 0.5);
}

.office-page .container .tool-bar .content .input {
  position: relative;
}

.office-page .container .tool-bar .content .input input {
  height: 34px;
  width: 240px;
  border-radius: 10px;
  padding: 0 30px 0 10px;
}

.office-page .container .tool-bar .content .input img {
  position: absolute;
  width: 24px;
  right: 6px;
  top: 5px;
  cursor: pointer;
}

.office-page .container .table {
  height: 80%;
  width: 76%;
  border-radius: 10px;
  border: 1px solid black;
}

.office-page-dark .container .table {
  border: 1px solid rgba(var(--cor-rosa), 1);
}

.office-page .container .table .content {
  height: 100%;
  width: 100%;
}

.office-page .container .table .content .title {
  height: 10%;
}

.office-page .container .table .content .title ul {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  border: 1px solid rgba(var(--cor-preto), 0.9);
  border-radius: 10px;

  list-style: none;
  background-color: rgba(var(--cor-roxo), 0.5);
}

.office-page-dark .container .table .content .title ul {
  border: 1px solid rgba(var(--cor-rosa), 1);
  background-color: rgba(var(--cor-rosa), 0.3);
}

.office-page .container .table .content .title ul li {
  display: flex;
  justify-content: center;

  width: 16.66%;

  font-family: "fonte";
  font-size: 16px;
  font-weight: 600;
}

.office-page-dark .container .table .content .title ul li {
  color: rgba(var(--cor-branco), 0.9);
  font-weight: 300;
}

.office-page .container .table .content .body {
  height: 90%;
  border-radius: 10px;
  overflow-y: scroll;
}

.office-page .container .table .content .body .line {
  height: 10%;
}

.office-page-dark .container .table .content .body .line {
  background-color: rgba(var(--cor-rosa), 0.05);
  color: rgba(var(--cor-branco), 1);
}

.office-page .container .table .content .body .line ul {
  display: flex;
  align-items: center;
  height: 100%;
  list-style: none;
}

.office-page .container .table .content .body .line ul li {
  display: flex;
  align-items: center;

  width: 16.66%;
  height: 100%;
  padding-left: 10px;

  border-right: 1px solid rgba(var(--cor-preto), 0.8);
  border-bottom: 1px solid rgba(var(--cor-roxo), 0.5);
}

.office-page .container .table .content .body .line ul li:first-child {
  cursor: pointer;
}

.office-page .container .table .content .body .line ul li:first-child:hover {
  background-color: rgba(var(--cor-roxo), 0.2);
  border: 1px solid rgba(var(--cor-preto), 0.5);
}

.office-page-dark
  .container
  .table
  .content
  .body
  .line
  ul
  li:first-child:hover {
  background-color: rgba(var(--cor-rosa), 0.2);
}

.office-page .container .table .content .body .line ul li:last-child {
  border-right: none;
}

.office-page .container .table .content .body .line ul li:last-child {
  justify-content: center;
}

.office-page-dark .container .table .content .body .line ul li {
  border-right: 1px solid rgba(var(--cor-rosa), 0.7);
  border-bottom: 1px solid rgba(var(--cor-rosa), 0.3);
}

.office-page .container .table .content .body .line ul li p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.office-page-dark .container .table .content .body .line ul li p {
  color: rgba(var(--cor-branco), 0.9);
}

.office-page .container .table .content .body .line ul li img {
  width: 26px;
  transition: ease-in-out 0.2s;
  opacity: 0.7;
}

.office-page .container .table .content .body .line ul li img:hover {
  width: 29px;
  cursor: pointer;
}

.office-page .container .table .content .body .line ul li img:last-child {
  margin-left: 20px;
  opacity: 0.9;
}
